//Vars for colors
$default-color           : #ffffff;
$primary-color           : #f2f2f2;
$main-color              :#1f2024;
$success-color           : #3c763d;
$danger-color            : #e34046;
$bright-color            : #f2d51b;
$light-color             : #e7ecf1;
$lightless-color         : #f3f3f3;
$lightest-color          : #999;
$lightestCCC-color       : #ccc;
$lightestEEE-color       : #eee;
$darkless-color          : #282830;
$darkless777-color       : #777777;
$grey-color              :#708090;
$brown-color             :#212125;
$darkless333-color       : #333333;

//border-colors
$dark02-color            :rgba(0, 0, 0, 0.2);
$lightestDF-color        :#dfdfdf;
$blue-color              :#66afe9; 
$blue06-color            :rgba(102, 175, 233, 0.6);
$dark075-color           :rgba(0, 0, 0, 0.075);